<%= form_for(@session) do |f| %>
	<%= f.error_messages %>
	<p>
	  <div class="field">
	    <%= f.label :begin_date, "Date" %><br />
	    <%= f.date_select :begin_date %>
	  </div>
	  <div class="field">
	    <%= f.label :begin_time, "Start Time" %><br />
	    <%= f.time_select :begin_time %>
	  </div>
	  <div class="field">
	    <%= f.label :location, "Location" %><br />
	    <%= f.text_field :location %>
	  </div>
	  <div class="field">
	    <%= f.label :seeing, "Initial Seeing" %><br />
	    <%= f.number_field :seeing, :in => 1..5 %>
	  </div>
	  <div class="field">
	    <%= f.label :transparency, "Initial Transparency" %><br />
	    <%= f.number_field :transparency, :in => 1..5 %>
	  </div>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
